* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text: blueviolet;
    --background: yellow;
    --bodbackground: pink;
}

h1 {
    color: var(--text);
    font-size: 300%
}

h2 {
    font-size: xx-large;
}

.header {
    display: block;
    background-color: var(--background);
    text-align: center;
    box-sizing: border-box;
}

.header a {
    font-size: larger;
}

aside {
    padding: 20px;
    text-align: center;
}

section{
    flex: 70%;
    padding: 20px;
    flex-wrap: wrap;
}

main {
    flex: 100%;
    background-color: var(--bodbackground);
}

header, footer, #contact-me {
    padding: 20px, 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    top: 0;
}

.contact-me {
    background-color: magenta;
    color: var(--text);
    text-align: center;
}


p {
    color:midnightblue;
    margin: 7;
}

.portfolio {
    flex: 1;
    background-color: var(--bodbackground);
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}

article {
    color: var(--bodbackground);
    outline: 2px dashed grey;
    outline-offset: -2px;
    transition: all 0.5s ease-in-out;
    text-align: center;
    margin: 6px;
}

img {
    box-shadow: 10px 10px 5px purple;
}

@media screen and (min-width: 768px) {
    .portfolio {
        flex: 0 0 50%
    }
}